@layer utilities {
  [class*=teaser--rounded] { --teaser-border-radius: var(--border-radius); } 
  [class*=teaser--rounded-image]:not([class*=teaser--rounded]) { --teaser-image-border-radius: var(--border-radius); } 
  [class*=teaser--rounded-content]:not([class*=teaser--rounded]) { --teaser-content-border-radius: var(--border-radius); } 
}